<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    
  
    <link rel="stylesheet" href="/stylesheets/question.css">
</head>
<body>
	<div class="ui grid">

  <div class="eight wide column">
    <form action="/posts" method="post" enctype="multipart/form-data">
    <div class="container-fulid col-lg-6 col-lg-offset-3 header">
        <div class="row header-row hidden-lg">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 header-one">
                <span>取消</span>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 header-two">提问</div>
        
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 header-three">
                <input type="submit" class="submit1" value="提交">
            </div>
         
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-lg-offset-3">
        <div  class="article1">
            <textarea name="title" id="titles1" maxlength="49" placeholder="请输入标题"></textarea>
            <div>
                <em>0</em>/49
            </div>
        </div>
        
        <div  class="article2">
                <textarea name="content" id="titles2" placeholder="请输入详情"></textarea>
                <div class=""><img src="/images/picture.png" alt=""></div>
        </div>
     
        <input type="file" name="files" >
    <input type="submit" value="发布" class="ui button btn btn-success visible-lg col-lg-1 col-lg-offset-2 submit2">
</div>
</form>
  </div>
</div>
</body>

<script src="/javascript/jquery-2.1.1.min.js"></script>


</html>