* {
	margin: 0;
	padding: 0;
}
html,body {
	width: 100%;
	font-size: 30px;
}

.header {
	height: 45px;
	width: 100%;
	background: pink;
}

.main-content {
	width: 100%;
	overflow: hidden;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.content-li {
	width: 100%;
	border-bottom: 5px solid rgba(0, 0, 0, 0.1);
	list-style: none;
	overflow: hidden;
	padding: 15px 0;
}
.content-li a {
	display: block;
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
}
.content-p {
	font-size: 1.8rem;
	color: #333;
	line-height: 25px;
	margin-bottom: 10px;
}
.main-content .pic {
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.pic img {
	width: 100%;
}
.main-content .content-li a span.text p{
	margin-top: 10px;
	font-size: 1.6rem;
	color: #999;
	line-height: 25px;
	 display: -webkit-box;
	-webkit-box-orient: vertical;
	word-break: break-all;
	word-break: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
}
.content-li a span.text p{
	margin-top: 10px;
	font-size: 1.6rem;
	color: #999;
	line-height: 25px;
}
.content-foot {
	width: 95%;
	height: 30px;
	margin: 1px auto 0;
	display: flex;
}
.content-foot .information {
	flex: 2;
}
.content-foot .information img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-top: 15px;
	transform: translateY(-50%);
	float: left;
}
i {
	font-style: normal;
}
.content-foot .information i {
	line-height: 30px;
	font-size: 0.8px;
	margin-left: 10px;
	float: left;
}
.content-foot .parts {
	flex: 3;
	display: flex;
}
.parts .parts-one {
	flex: 1;
}
.parts .parts-two {
	flex: 1;
}
.parts .parts-three {
	flex: 1;
}
.parts img {
	width: 25px;
	height: 25px;
	margin-top: 15px;
	transform: translateY(-50%);
	float: left;
}
.parts i {
	line-height: 30px;
	font-size: 1rem;
	float: left;
	margin-left: 5px;
}